#devel-execute-form {
  position: relative;
}

#edit-op {
  float: right;
  color: #fff;
  padding: 8px 14px 10px;
  background: #B3A400;
  border: none;
  margin-right: 0px;
  position: relative;
  -webkit-user-select: none;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
}

#edit-op:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

#edit-op:active:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

#devel-execute-form label {
  font-weight: normal;
}

#devel-execute-form #edit-code {
  margin-top: 10px;
  height: 200px;
  border: black solid 1px;
  font-family: Symbol;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -khtml-border-radius: 5px;
  border-radius: 5px;
  padding: 5px;
  color: #003250;
  background: #F2F2F5;
  border: #5893AC solid 1px;
}

.form-type-textfield.form-item-variables {
  float: right;
  padding-left: 15px;
  display: none;
}
.bordered {
  background: #EBF4FA;
  border-bottom: none;
  border-top: none;
  color: #BE420E;
  font-size: 12px;
  height: 220px;
  overflow: scroll;
  overflow-x: hidden;
  width: 110%;
  font-family: Symbol;
}

.grippie {
  display: none;
}

.suggestion-wrapper {
  overflow: hidden;
}

.border-up {
  background: #EBF4FA;
  border: #FF9834 solid 1px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.bordered div {
  padding: 10px;
}

.selected-function {
  background: white;
  border: #FF9834 solid 1px;
  border-left: none;
  border-right: none;
  padding-bottom: 9px;
  padding-top: 9px;
}

.colored-code {
  background: white;
  height: 100%;
  position: absolute;
  width: 101%;
  z-index: 100;
}

.textarea-link {
  display: none;
}