.buttons-wrapper {
  float: right;
}

#edit-history {
  float: left;
  color: #fff;
  padding: 8px 14px 10px;
  background: #6abce7;
  border: none;
  margin-right: 0px;
  position: relative;
  -webkit-user-select: none;
  -webkit-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  box-shadow: inset 0px -3px 1px rgba(0, 0, 0, 0.45), 0px 2px 2px rgba(0, 0, 0, 0.25);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  -moz-text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.5);
  margin-right: 10px;
}

#edit-history:active {
  position: relative;
  top: 3px;
  -webkit-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
  box-shadow: inset 0px -3px 1px rgba(255, 255, 255, 1), inset 0 0px 3px rgba(0, 0, 0, 0.9);
}

#edit-history:active:after {
  content: "";
  width: 100%;
  height: 3px;
  position: absolute;
  bottom: -1px;
  left: 0;
}

#history {
  display: none;
  position: absolute;
  top: 40px;
  left: 5%;
  width: 95%;
  border: black solid 1px;
  overflow: scroll;
  height: 250px;
  overflow-x: hidden;
  background: #EBF4FA;
}

#history .code-wrappers {
  background: #EBF4FA;
  overflow: scroll;
  overflow-x: hidden;
  width: 110%;
}

#history .code-wrappers a {
  color: #BE420E;
  text-decoration: none;
}

#history .inline_devel_log_row:hover {
  background: white;
  border: #FF9834 solid 1px;
  border-left: none;
  border-right: none;
}

#history .inline_devel_log_row .code {
  float: left;
    padding-bottom: 9px;
  padding-top: 9px;
}
